*:not(.board-main-content *) {
  color: black;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}



.header-main {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.navbar {
  display: flex;
}

.navbar-item > a {
  display: inline-flex;
  padding: 23px 30px 22px 30px;
  font-size: 18px;
  position: relative;
  font-weight: 700;
}

.detail-navbar {
  top: 60px;
  border: 1px solid black;
  position: absolute;
  display: none;
  flex-direction: column;
  background-color: white;
  width: 125px;
  text-align: left;
  z-index: 1;
  justify-content: center;
  padding: 10px 0;
}

.navbar-item:hover > a {
  color: rgb(25, 13, 131);
}

.navbar-item:hover .detail-navbar {
  display: flex;
}

.detail-navbar a:hover {
  color: rgb(25, 13, 131);
  font-weight: 600;
}

.detail-navbar > a {
  display: inline-flex;
}

.title-link {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.detail-navbar a {
  display: inline-flex;
  padding: 2px 0px;
  padding-left: 35px;
  font-size: 13px;
}

/* 여기 까지..... */

.subtitle {
  background-image: url(/image/sub_top.jpg);
  height: 150px;
}

.subtitle-main {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.subtitle-main h1 {
  color: white;
  font-weight: 400;
  font-size: 30px;
}

.main-content {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  padding-bottom: 150px;
}

.menubar {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.menubar > div {
  /* background-color: #018bc3; */
  margin: 3px 0;
  background-color: #d9f0fa;
}

.menubar a {
  display: inline-block;
  padding: 8px 0 8px 20px;
  width: 200px;
}

.board-div {
  margin-top: 50px;
  width: 900px;
}

.board-title {
  margin-top: 30px;
  margin-bottom: 30px;
  border-bottom: 0.5px solid gray;
}

.board-title h1 {
  position: relative;
  font-family: "Noto Sans", NanumGothic, "NanumGothic", "Open Sans", sans-serif;
  font-size: 32px;
  font-weight: 500;
  padding: 5px 0 30px 0;
}

.board-title h1::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 3px;
  background: #029cda;
}

.board-main {
  display: flex;
  flex-direction: column;
  padding-bottom: 200px;
  border-bottom: 1px solid #666;
}

.board-content-title {
  font-size: 20px;
}

.board-informs {
  margin-top: 8px;
  font-size: 12px;
}

.board-informs i {
  display: inline-block;
  font-size: 0;
  vertical-align: middle;
  margin: 0 3px 0 0;
  width: 15px;
  height: 8px;
  background-position: -101px -80px;
  background-image: url(/image/icons.png);
}

.board-informs div {
  text-align: center;
  display: inline-block;
  position: relative;
  padding: 0px 8px;
  color: #666;
}

.board-informs div::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  width: 1px;
  height: 10px;
  margin-top: -4px;
  background: #999;
}

.board-main-content {
  margin-top: 20px;
}

.list-div {
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}

.list-div a {
  display: inline-block;
  padding: 10px 20px;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: #ccc;
  font-size: 13px;
  font-weight: 600;
  background: -webkit-linear-gradient(top, #fff 0, #ececec 100%);
}

/* 여기 까지..... */
.footer {
  border: 0.5px solid rgb(167, 167, 167);
  padding: 30px 0px;
}

.footer-main {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.footer-content * {
  padding: 10px;
  font-size: 12px;
  color: gray;
}

.footer-text {
  letter-spacing: 1px;
}



.ripple-div {
  margin-top: 40px;
}
.ripples {
  border-bottom: 1px solid gray;
  display: flex;
  padding: 12px 10px 30px 10px;
  position: relative;
}

.ripple-inform {
  display: flex;
  flex-direction: column;
  width: 140px;
}

.ripple-writer {
  color: #005fd0;
  font-size: 13px;
  font-weight: 700;
}

.ripple-date {
  color: #666666;
  font-size: 11px;
}

.ripple-content {
  padding-left: 20px;
  font-size: 13px;
}

.ripple-reply {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.ripple-write-div {
  margin-top: 30px;
}

.ripple-input-div {
  border-top: 1px solid gray;
  padding-top: 20px;
  margin-top: 5px;
}

.ripple-write-div input {
  padding: 7px 5px;
  background: transparent;
  border: 1px solid #bbb;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  width: 120px;
}

.ripple-write-div label {
  font-size: 13px;
  color: #555555;
}

.ripple-input-div textarea {
  display: block;
  width: 100%;
  margin: 0;
  padding: 5px;
  border: 1px solid #bbb;
  margin-top: 10px;
}

